.Project {
    /* border-radius: 15px; */
    &:hover {
        transition: all 0.1s ease-in-out;
        background: var(--main-bg-colour);
        box-shadow: inset 0px 0px 0px 1px var(--syntax);
        padding-left: 1em;
        margin-left: -1em;
    }
}

.line {
    background: var(--tertiary-bg-colour);
    position: relative;
    left: 0;
    width: 50vw;
    border: 1px solid red;
}
