.Project {
    border-radius: 20px;
    &:hover {
        transition: all 0.1s ease-in-out;
        background: var(--tertiary-bg-colour);
        padding-left: 1em;
        margin-left: -1em;
    }
}
