.externalLink {
    display: flex;
    gap: 1em;
}

.linkLogo {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
}

.navbar {
    padding: 2em;
    padding-right: 2.5em;
    border-right: 2px solid var(--border);
    background: var(--main-bg-colour);
}

.navHeader {
    padding-bottom: 1em;
    display: flex;
    gap: 0.5em;

    &:hover {
        color: var(--link-hover);
        path {
            fill: var(--link-hover);
        }
    }
}

.navLogo {
    fill: var(--main-text-colour);
    width: 3em;
    height: 3em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navIcon {
    width: 1.5em;
    height: 1.5em;
    fill: var(--main-text-colour);
}

.navTitle {
    font-size: 2em;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;

    &:hover {
        color: var(--link-hover);

        path {
            fill: var(--link-hover);
        }
    }
}
a {
    text-decoration: none;
}
