.navbar {
    background: var(--main-bg-colour);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    padding-left: 1em;
    -moz-box-shadow: 0 -2px 10px var(--shadow);
    box-shadow: 0 -2px 10px var(--shadow);

    @media (min-width: 1025px) {
        position: relative;
        width: unset;
        border-right: 2px solid var(--border);
        display: block;
        padding-top: 2em;
        padding-right: 2em;
    }
}

.navHeader {
    display: flex;
    gap: 0.5em;

    &:hover {
        color: var(--link-hover);
        path {
            fill: var(--link-hover);
        }
    }

    @media (min-width: 1025px) {
        padding-bottom: 1em;
    }
}

.headerLogo {
    fill: var(--main-text-colour);
    text-align: center;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
    width: 1.5em;
    height: 1.5em;

    @media (min-width: 1025px) {
        width: 3em;
        height: 3em;
    }
}

.headerTitle {
    font-size: 2em;
    display: none;
    @media (min-width: 1025px) {
        display: unset;
    }
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    @media (min-width: 1025px) {
        display: block;
    }
}

.externalLink {
    display: flex;
    gap: 1em;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;

    &:hover {
        color: var(--link-hover);

        path {
            fill: var(--link-hover);
        }
    }
}

.linkLogo {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
}

.navIcon {
    width: 1.5em;
    height: 1.5em;
    fill: var(--main-text-colour);
}

.navText,
.linkText {
    display: none;

    @media (min-width: 1025px) {
        display: flex;
        justify-content: center;
    }
}

a {
    text-decoration: none;
}
