:root {
	/* --main-bg-colour: #2A2C35; */
	--main-bg-colour: #181818;
	--main-text-colour: #dee1e9;
	/* --secondary-background-colour: #1F252E; */
	--secondary-bg-colour: #232323;
	--tertiary-bg-colour: #2f2f2f;

	--white: #ffffff;
	--green: #669a54;
	--light-green: #4bc1aa;
	--blue: #4bbbf8;
	--light-blue: #97d6f7;
	--yellow: #dcdcaf;
	--orange: #c5947d;
	--dark-grey: #444444;
	--grey: #a9a9a9;
	--light-grey: #f1f1f1;

	font-family: "Fira Mono", monospace;

	line-height: 1.5;
	font-weight: 400;

	color: var(--main-text-colour);
	background-color: var(--main-bg-colour);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

.body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.bodyContent {
	width: 100%;
	-moz-box-shadow: inset 0 0 10px #000;
	box-shadow: inset 0 0 10px #000;
	background: var(--secondary-bg-colour);
	color: var(--light-grey);
	flex: auto;
	overflow-y: auto;
}

a {
	color: var(--grey);
}

h2 {
	font-size: unset;
}

main {
	display: flex;
	max-height: 100vh;
	/* max-width: 1280px; */
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}
