:root {
	--white: #ffffff;
	--green: #669a54;
	--light-green: #4bc1aa;
	--blue: #4bbbf8;
	--light-blue: #97d6f7;
	--yellow: #dcdcaf;
	--orange: #c5947d;
	--dark-grey: #444444;
	--grey: #a9a9a9;
	--light-grey: #f1f1f1;
	--lighter-grey: #bbbbbb;
	--burnt-orange: #d45f50;
	--tree-green: #659f58;
	--sea-blue: #3982b7;
	--warm-purple: #a44aa9;
	--sky-blue: #4e76ea;
	--cloud-grey: #9da0a4;

	--main-bg-colour: #f0f0f0;
	--main-text-colour: #383a42;
	--secondary-bg-colour: #fafafa;
	--tertiary-bg-colour: #f0f0f0;
	--shadow: var(--lighter-grey);
	--border: var(--lighter-grey);

	--line-numbers: #888;
	--class-name: var(--warm-purple);
	--link-hover: var(--cloud-grey);
	--keyword: var(--burnt-orange);
	--variable: var(--sea-blue);
	--string: var(--tree-green);
	--comment: var(--cloud-grey);
	--syntax: var(--sky-blue);
	--indent-indicator: var(--light-grey);
	font-family: "Fira Mono", monospace;

	line-height: 1.5;
	font-weight: 400;

	color: var(--main-text-colour);
	background-color: var(--main-bg-colour);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

.body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100vh;
}

.bodyContent {
	width: 100%;
	background: var(--secondary-bg-colour);
	flex: auto;
	overflow-y: auto;

	@media (min-width: 1025px) {
		-moz-box-shadow: inset 0 0 5px var(--shadow);
		box-shadow: inset 0 0 5px var(--shadow);
	}
}

a {
	color: var(--main-text-colour);
}

h2 {
	font-size: unset;
}

main {
	display: flex;
	max-height: 100vh;
	flex-direction: column-reverse;

	@media (min-width: 1025px) {
		flex-direction: row;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--secondary-bg-colour: #181818;
		--main-text-colour: #dee1e9;
		--main-bg-colour: #232323;
		--tertiary-bg-colour: #2f2f2f;

		--class-name: var(--light-green);
		--link-hover: var(--white);
		--keyword: var(--blue);
		--variable: var(--light-blue);
		--string: var(--orange);
		--comment: var(--green);
		--syntax: var(--main-text-colour);
		--indent-indicator: var(--dark-grey);
		--shadow: #000;
		--border: var(--secondary-bg-colour);
	}
}
