.pane {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60vw;
    height: 100%;
    z-index: 1;
    background: var(--main-bg-colour);
    border-left: 1px solid var(--syntax);
    text-align: left;
    padding: 2em;
    colour: var(--grey);
    overflow: auto;

    @media (min-width: 1025px) {
        width: 15vw;
        border-left: none;
    }
}

.closeButton {
    padding: 0;
    border: none;
    font-size: x-large;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: none;
    @media (min-width: 1025px) {
        display: none;
    }
}
