.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--grey);
    font-size: small;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.breadcrumbsIcon {
    height: 0.9em;
    width: 0.9em;
    fill: var(--grey);
}
