.Employer {
    padding-right: 1.5em;
    white-space: nowrap;
    @media (min-width: 1025px) {
        border-radius: 1em;
        padding-left: 1.5em;
    }
}

.mobile {
    @media (min-width: 1025px) {
        display: none;
    }
}
.nonMobile {
    display: none;
    @media (min-width: 1025px) {
        display: unset;
    }
}

.projectList {
    display: flex;
    flex-direction: column;
}
