.className {
    color: var(--light-green);
    font-weight: 700;
}

a {
    &:hover {
        color: var(--white);
    }
}

.keyword {
    color: var(--blue);
}

.variable {
    color: var(--light-blue);
}

.string {
    color: var(--orange);
}

.comment {
    color: var(--green);
}

.syntax {
    color: var(--yellow);
}

.indent {
    padding-left: 2em;
    border-left: 1px solid var(--dark-grey);
}
