.className {
    color: var(--class-name);
    font-weight: 700;
}

a {
    &:hover {
        color: var(--link-hover);
    }
}

.keyword {
    color: var(--keyword);
}

.variable {
    color: var(--variable);
}

.string {
    color: var(--string);
}

.comment {
    color: var(--comment);
}

.syntax {
    color: var(--syntax);
}

.indent {
    padding-left: 1em;
    border-left: 1px solid var(--indent-indicator);
    @media (min-width: 1025px) {
        padding-left: 2em;
    }
}

.multilineComment {
    padding-left: 0.5em;
    @media (min-width: 1025px) {
        padding-left: 1em;
    }
}
.multilineCommentBody {
    padding-left: 0.5em;
    @media (min-width: 1025px) {
        padding-left: 1em;
    }
}
