.container {
	display: flex;
	flex-grow: 1;
}

.pageContainer {
	flex-grow: 1;
}

.page {
	display: flex;
	line-height: 22px;
	width: 100%;
}

.employersList {
	display: flex;
	flex-direction: column;
	padding-bottom: 88px;
}

.lineNumbers {
	text-align: right;
	min-width: 3em;
	line-height: 22px;
	height: 100%;
	margin-right: 0.5em;
}

pre {
	margin: 0;
	counter-reset: line;
	/* background: #303030; */
	/* color: #f1f1f1; */
	/* padding: 10px 16px; */
	/* border-radius: 2px; */
	/* border-top: 4px solid #00aeef; */
}
pre span {
	display: block;
	/* line-height: 1.5rem; */
}
pre span:before {
	counter-increment: line;

	content: counter(line);
	display: inline-block;
	border-right: 1px solid var(--light-grey);
	padding: 0 0.5em;
	color: #888;
}
