.header {
    position: relative;
    z-index: 2;
    background-color: var(--main-bg-colour);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--border);
}

.headerContent {
    text-align: center;
}

.logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.headerLinks {
    display: flex;
    gap: 2em;
}

.headerLink {
    display: flex;
    gap: 1em;
}

.linkLogo {
    width: 25px;
    height: 25px;
    overflow: hidden;
}
